@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

$title-ff: Montserrat, sans-serif;
$body-ff : Montserrat, sans-serif;
$btn-ff  : Montserrat, sans-serif;

$dark-gray  : #1d1d1d;
$medium-gray: #818181;
$light-gray : #e2e7ec;

$content-bg : #fff;

$body-bg    : $light-gray;
$body-color : $dark-gray; 

$border-width: 2px;

