@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}


html {
    font-size: 10px;
}

body {
    @include font($body-ff, 1.3rem, $body-color, $lh: 1.4);
    background-color: $body-bg;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 15px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--via-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 10px;
        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.post {
    $space: 25px;

    flex: 0 1 360px;
    height: 540px;
    background-color: $content-bg;
    margin: 10px;
    position: relative;
    .posts--via-grid & {
        margin: 0;
    }
    @include hover {
        box-shadow: 0 0 1px $border-width $medium-gray;
    }

    &--lg {
        @media screen and (min-width: 992px) {
            flex-basis: 740px;
        }
        @media screen and (min-width: 576px) {
            .posts--via-grid & {
                grid-column: span 2;
            }
        }
    }
    &__link {
        height: 100%;
        outline: 1px solid green;
        text-decoration: none;
        display: block;
        padding: $space;
        text-transform: uppercase;
        .post--lg & {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
    &__author {
        @include posA($top: null, $left: $space, $delta_x: 0, $delta_y: 0);
        bottom: $space;
        width: 55px;
        height: 55px;
        overflow: hidden;
        border-radius: 50%;
        border: $border-width solid $content-bg;
        margin: -1 * $border-width;
        @include hover {
            box-shadow: 0 0 1px $border-width $medium-gray;
        }

        .post--lg & {
            display: none;
        }
    }
    &__author-img {
        @include posA;
        min-width: 100%;
        min-height: 100%;
    }
    &__img-wrap {
        position: relative;
        height: 250px;
        overflow: hidden;
        margin: -1 * $space -1 * $space $space;
        .post--lg & {
            @include posA;
            margin: 0;
            width: 100%;
            height: 100%;
            &:after {
                content: '';
                @include posA;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, $body-color, rgba(0,0,0,0) 60%);
            }
        }
    }
    &__img {
        @include posA;
        min-width: 100%;
        min-height: 100%;
    }
    &__time {
        color: $medium-gray;
        font-weight: 600;
        display: block;
        margin-bottom: $space * .8;
        height: 1.3rem * 1.4;
        .post--lg & {
            position: relative;
            z-index: 1;
        }
    }
    &__title {
        font-size: 2.2rem;
        color: $body-color;
        max-height: 125px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        .post--lg & {
            position: relative;
            z-index: 1;
            color: $content-bg;
            font-size: 3rem;
            max-height: 168px;
        }
    }
}


